/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/ranking/ranking.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/* ranking.module.css */

/* Variáveis de cor para temas claros e escuros */

.ranking_dark__5pwX3 {
  --text: rgb(255, 255, 255);
  --text-sub: rgb(153, 150, 156);
  --text-title: rgb(255, 255, 255);
  --background: rgb(3, 20, 28);
  --primary: rgba(34, 4, 68, 0.7);
  --secondary: rgba(48, 12, 90, 0.6);
  --accent: rgb(161, 15, 169);
}

/* Container geral */
.ranking_container__QrbX4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding-top: 2px;
  overflow-y: fixed;
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 8px;
  height: 490px;

}

/* Navegação Principal - Menu flutuante */
.ranking_navigation__OX_f5 {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--primary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.5rem;
  width: 100%;
  transition: top 0.3s ease-in-out;
  border-radius: 8px;
  border-bottom: 0px solid var(--secondary);
}

/* Seção das Categorias (Lado esquerdo) */
.ranking_header__FGKyj {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* Estilo para os botões de categoria */
.ranking_categoryButton__6kusH {
  background-color: transparent;
  border: 2px solid var(--text);
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: var(--text);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.ranking_categoryButton__6kusH:hover {
  background-color: var(--secondary);
  transform: scale(1.05);
}

/* Opção Selecionada - Categoria */
.ranking_selectedCategory__LGJhW {
  background-color: var(--accent);
  color: var(--text-title);
  border-color: var(--accent);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Seção do Tipo de Ranking (Lado direito) */
.ranking_rankingTypeSelector__OFR_F {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Estilo para os botões de tipo de ranking */
.ranking_rankingTypeButton__pTid6 {
  background-color: transparent;
  border: 2px solid var(--text);
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: var(--text);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.ranking_rankingTypeButton__pTid6:hover {
  background-color: var(--secondary);
  transform: scale(1.05);
}

/* Opção Selecionada - Tipo de Ranking */
.ranking_selectedRankingType__OxNGo {
  background-color: var(--accent);
  color: var(--text-title);
  border-color: var(--accent);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Rankings */
.ranking_rankingsContainer__kScjW {
  margin-top: 1px;
  padding: 0 1rem;
  max-height: 380px;
}

.ranking_rankings__jXodB {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 100%; /* Impede que a lista ultrapasse a altura máxima definida */
  overflow-y: auto;
}

.ranking_rankingItem__5qX3f {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid var(--text-sub);
  border-radius: 4px;
  background-color: var(--background);
  transition: transform 0.2s ease-in-out;
}

.ranking_rankingItem__5qX3f:hover {
  transform: translateY(-4px);
}

.ranking_topRanking__vka3c {
  background-color: var(--accent);
  font-weight: bold;
  color: var(--text-title);
}

.ranking_rank__jqA6Y {
  flex: 0 0 10%;
  color: var(--text-sub);
}

.ranking_name__rD8Fy {
  flex: 1;
  text-align: left;
  color: var(--text);
}

.ranking_score__jjfwz {
  flex: 0 0 15%;
  text-align: right;
  color: var(--text);
}


/* Container fixo (Podio) */
.ranking_container-podio__JKknk {
  flex: 1; /* O Podio ocupará metade da largura */
  position: fixed;
  top: 5rem; /* Distância da parte superior para não sobrepor o menu */
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: var(--primary);
  padding: 1rem;
  overflow: auto;
}

/* Estilo para o Podio (com conteúdo fixo) */
.ranking_podio__qGUjU {
  background-color: var(--accent);
  padding: 1rem;
  border-radius: 8px;
  color: var(--text-title);
  font-size: 1.2rem;
}

/* Estilo para a posição do usuário */
.ranking_user-posicao__EUoCh {
  background-color: var(--secondary);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--text-title);
  font-size: 1rem;
}

/* Rankings Roláveis */
.ranking_rankingsContainer__kScjW {
  flex: 1; 
  margin-left: 50%; 
  padding: 1rem;
  overflow-y: auto; 
  position: relative;
  height: calc(100vh - 5rem); 
}

.ranking_rankings__jXodB {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.ranking_rank__jqA6Y {
  flex: 0 0 10%;
  color: var(--text-sub);
}

.ranking_name__rD8Fy {
  flex: 1;
  text-align: left;
  color: var(--text);
}

.ranking_score__jjfwz {
  flex: 0 0 15%;
  text-align: right;
  color: var(--text);
}

/* ranking.module.css */
.ranking_highlightUser__tvJHs {
  background-color: #f0f0f0; /* Cor de fundo destacada */
  border: 2px solid #ff9900; /* Borda laranja */
  font-weight: bold;
}

