@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-body {
    font-family: Arial, Helvetica, sans-serif;
  }

  :root {
    --text: rgb(0, 0, 0);
    --text-title: rgb(255, 255, 255);
    --background: rgb(227, 244, 252);
    --primary: rgb(121, 60, 190);
    --secondary: rgba(135, 88, 194, 0.6);
    --accent: rgb(161, 15, 169);
}


@media (prefers-color-scheme: dark) {
    :root {
        --text: rgb(255, 255, 255);
        --text-title: rgb(255, 255, 255);
        --background: rgb(3, 20, 28);
        --primary: rgba(34, 4, 68, 0.7);
        --secondary: rgba(48, 12, 90, 0.6);
        --accent: rgb(233, 86, 240);
    }

  body {
    background-color: var(--background);
    color: var(--text);

  }
  main {
    @apply h-full min-h-screen  flex-1 overflow-y-auto overflow-x-hidden  p-6;

  }
  .bg-secondary {
    background-color: var(--secondary);
  }
}}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scroll-container {
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid black;
  }
  .page-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
